<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-oio6YmuI2O6eD3pPtmPv6dtXDxHX1BzcazPM1pax8LZ6RtdFbNEhpd3z9h1tP5zn" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    
</head>
<body>
<div id="nav-header1">
    <a href="index.html">Go Back</a>
</div>

<div class="new-post-form">
    <div class="container">
        <div class="row">
            <div class="post-form">
                <h1>New Post</h1>
                <form class="add-post-form" method="">
                    <table class="add-post-table">
                        <tr>
                            <td><input type="file" name="img" id="" placeholder="Select to share"></td>
                        </tr>
                        <tr>
                            <td><textarea type="text" name="text" placeholder="Enter Caption"></textarea></td>
                        <tr>
                            <td><button class="share-btn" type="submit" name="submit">Share</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>
