{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media App-home</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div id="header">
        <div class="container">
            <div class="row">
                <div class="header-section">
                    <div class="logo-name">
                        <h1>feeds</h1>
                    </div>
                    <div class="search-bar">
                        <i class="fa fa-search"></i>
                        <input type="search" placeholder="search for creators ,posts">
                    </div>
                    <div class="new-post-button">
                        <button class="post-btn"><a href="addposts.html">New post</a><i class="fa fa-camera"></i></button>
                    </div>


                    <div class="dropdown">
                        <button class="drop-btn"></button>
                        <div class="dropdown-content">
                            
                            <a href="{% url 'index' %}">View Profile</a>
                            <a href="{% url 'account_settings' %}">Edit Profile</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>


                    <h4 class="username">{{user.username}}</h4>

                </div>
            </div>
        </div>
    </div>
    


    <div id="posts">
        <div class="container">

            <div class="posts-section">
                <div class="card">
                    <h5 class="profile-name">hijklmno<span>following</span></h5>
                    <img src="{% static 'images/21393418.jpg'%}" alt="" class="img-fluid">
                    <div class="actions">
                        <div class="actions-section">
                            <button id="like-post" onclick="toggleLike(this)"><i class="fa fa-heart"></i></button>
                            <span id="like-count">255</span>
                            <button class="comment-icon" onclick="toggleComments()"><i class="fa fa-comment"></i></button>
                            <button><i class="fa fa-share"></i></button>
                        </div>
                        <p class="caption"><span class="profile-name">hijklmno</span>amn't i look good:)</p> 
                    </div>
                </div>
            </div>

            <div class="posts-section">
                <div class="card">
                    <h5 class="profile-name">hijklmno<span>following</span></h5>
                    <img src="{% static 'images/21393418.jpg'%}" alt="" class="img-fluid">
                    <div class="actions">
                        <div class="actions-section">
                            <button id="like-post" onclick="toggleLike(this)"><i class="fa fa-heart"></i></button>
                            <span id="like-count">255</span>
                            <button class="comment-icon" onclick="toggleComments()"><i class="fa fa-comment"></i></button>
                            <button><i class="fa fa-share"></i></button>
                        </div>
                        <p class="caption"><span class="profile-name">hijklmno</span>amn't i look good:)</p> 
                    </div>
                </div>
            </div>

        </div>
    </div>

   
    <!--bottom navigation for small screens-->
    <div id="bottom-nav">
        <ul id="bottommenu">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="friendslist.html"><i class="fa fa-heart"></i></a></li>
            <li><a href="addposts.html"><i class="fa fa-plus-square-o"></i></a></li>
            <li><a href="profile.html"><i class="fa fa-user"></i></a></li>
            <li><a href="#"><i class="fa fa-search"></i></a></li>
        </ul>
    </div>
    <!--end-->


    <!-- comment page -->
    <div id="comment-section" class="comment-section">
        <h2>Comments</h2>
        <div id="comments-container"></div>
        
        <div class="comment">
            <div class="user-info">
                <img src="images/3r5o_60xr_230710.jpg" alt="Another User DP">
                <span class="username">Jane Smith</span>
            </div>
            <p class="comment-text">super</p>
        </div>
        <div class="comment">
            <!-- Add more comments as needed -->
        </div>
        <div class="comment">
            <div class="user-info">
                <img src="images/pmy0_gw7o_230508.jpg" alt="User DP">
                <span class="username">abcdefg</span>
            </div>
            <input type="text" id="comment-input" placeholder="Add a comment...">
            <button onclick="addComment()">Post</button>
        </div>
    </div>


 
    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>

    

    <!--end-->


    
    