{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    
</head>
<body>
    <div id="nav-header">
        <a href="index.html">Go Back</a>
    </div>

    <div id="nav-header2">
        <div class="logo-name">
            <h1>feeds</h1>
        </div>
    </div>


<div id="profile-page">
    <div id="profile">
        <div class="container">
            <div class="row">
                <div class="profile-details">
                    <div class="profile-image">
                        <img src="images/pmy0_gw7o_230508.jpg" alt="">
                    </div>
                    <div class="p-name">
                        <h2>abcdefg</h2>
                        <p>haiii friends</p>
                        
                    </div>
                </div>
                <div class="followers-details">
                    <div class="posts-no">
                        <h2>1</h2>
                        <h1>posts</h1>
                    </div>
                    <div class="followers-no">
                        <h2>110</h2>
                        <h1>followers</h1>
                    </div>
                    <div class="following-no">
                        <h2>111</h2>
                        <h1>following</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="user-posts">
        <div class="container">
            <div class="row">
                <h5 class="feeds-heading">Your feeds</h5>
                <div class="posts-section">

                    <div class="card">
                        <h5 class="profile-name">abcdefg</h5>
                        <img src="images/pmy0_gw7o_230508.jpg" alt="" class="img-fluid">
                        <div class="actions">
                            <div class="actions-section">
                                <button id="like-post" onclick="toggleLike(this)"><i class="fa fa-heart"></i></button>
                                <span id="like-count">255</span>
                                <button><i class="fa fa-comment"></i></button>
                                <button><i class="fa fa-share"></i></button>
                            </div>
                            <p class="caption">This is the caption for the post. #SocialMediaApp</p> 
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

     <!--bottom navigation for small screens-->
     <div id="bottom-nav">
        <ul id="bottommenu">
            <li><a href="index.html"><i class="fa fa-home"></i></a></li>
            <li><a href="friendslist.html"><i class="fa fa-heart"></i></a></li>
            <li><a href="addposts.html"><i class="fa fa-plus-square-o"></i></a></li>
            <li><a href="profile.html"><i class="fa fa-user"></i></a></li>
            <li><a href="#"><i class="fa fa-search"></i></a></li>
        </ul>
    </div>

    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>
    
   


 